.icon-container {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 0;
  left: 100%;
  width: 200px;
  height: 100%;
  background: #fff;

  &.open {
    animation: leftanimation 0.3s ease forwards;
  }
}

@keyframes leftanimation {
  from {
    left: 100%;
  }

  to {
    left: calc(100% - 200px);
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}

li {
  list-style: none;
  font-weight: 600;
  height: 50px;
}
