a {
  all: unset;
  cursor: pointer;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Pretendard Variable;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@font-face {
  font-family: "Pretendard Variable";
  src: url("/assets/pretendard-custom.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}
