@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

a {
  all: unset;
  cursor: pointer;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Pretendard;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
